decorator
Flask
Flask-SQLAlchemy
Flask-WTF
gunicorn
itsdangerous
Jinja2
lxml
MarkupSafe
migrate
pbr
Pillow
PyGithub
six
SQLAlchemy
sqlalchemy-migrate
sqlparse
Tempita
Werkzeug==2.2.3
wheel
WTForms
python-dotenv
app
Flask-APScheduler
Flask-OAuthlib
bson
Flask-PyMongo
pymongo
dnspython
