/* Space 1*/







/*End of Space 1*/


/*Space 2*/

body{
	background: #202020;
	font-family: garamond;
	
}

.nav-link{
	font-size: 20px;
}

h5{
	font-size:50px;
}

p{
	font-size:50px;
	background-color: #D9D9D9;
}

label {
	font-size: 30px;
}

.scroll2{
	width:40%;
	max-height:600px;
	overflow: auto;

}

.scroll{
	width:100%;
	max-height:400px;
	overflow: auto;
	display:flex;
	flex-direction: column-reverse;
}

input {
		overflow: auto;
        width: 80%;
		height: auto;
    }

.content{
	font-family: garamond;
	font-weight: bold;
}

.row{
	background-color: #D9D9D9;
}

.background{
	background-color: #D9D9D9;
}

ul {
  list-style-type: none;
}

li{
	background-color: #D9D9D9;
	border-radius: 5px;
	padding-top: 1px;
	padding-left: 2px;
	
}

.bg-color {
    background-color: #D9D9D9;
 }
 
.list {
	background-color: #5A5A5A;
	border-radius: 5px;
	
}

/*End of Space 2*/