/* Space 1*/

#MapPan{
	border: 2px dashed #696868;
	border-radius: 20px;
}

.Map{
	width: 100%;
	/*
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;*/
}

#MapImage{
	width: 100%;
	min-width:400px;
	border-radius: 20px;
}

#drop-area{
	width: 500px;
	background: #fff;
	text-align: center;
	border-radius: 20px;
}

#img-view{
	width: 100%;
	height: 100%;
	border-radius: 20px;
	border: 2px dashed #bbb5ff;
	background: #a3a3a3;
	
}

#img-view:hover{
	background: #5a5b63;
	color: white;
}

#img-view img{
	width: 100px;
}
/*End of Space 1*/

.hideScroll::-webkit-scrollbar{
	display: none;
}

.hideScroll{
	-ms-overflow-style: none;
	scrollbar-width: none;
}

/*Space 2*/

body{
	background: #202020;
	font-family: garamond;
	
}

.nav-link{
	font-size: 20px;
}

.no-background{
	background: none;
}

.small-text{
	font-size: 20px;
}

p{
	font-size:25px;
}

.accent1{
	background-color: #696868;
}

label {
	font-size: 30px;
	background-color: #D9D9D9;
}

.navbar .navbar-nav > li > a {
	line-height: 35px;
 }
 


.scroll2{
	width:100%;
	max-height:600px;
	overflow: auto;

}

.scroll{
	width:100%;
	max-height:500px;
	overflow: auto;
	padding: 0px;
	#display:flex;
}

input {
		overflow: auto;
        width: 80%;
		height: auto;
    }

.content{
	font-family: garamond;
	font-weight: bold;
}


.background{
	background-color: #D9D9D9;
	border-radius: 5px;
}

.base{
	background-color: #5A5A5A;
	width: 100%;
	height: auto;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li{
	background-color: #D9D9D9;
	border-radius: 5px;
	padding-top: 1px;
	padding-left: 2px;
	
}

.bg-color {
    background-color: #D9D9D9;
 }
 
.navbar-text {
	color: #FFFFFF;
	font-size: 20px;
	background-color: #212529;
} 
 
.thing{
	margin-left: 40px;
}
 
.list {
	background-color: #5A5A5A;
	border-radius: 5px;
	margin-right: 10px;
	
}

#marginAccountLeft {
	margin-bottom: 40px;
	margin-right: 20px;
}

#marginAccountRight {
	margin-bottom: 40px;
}

@media (min-width: 1400px) {
	.container{
		max-width: 100%;
	}
}
    


/*End of Space 2*/