{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user_Data != None %}
	{% if current_party != None%}
		<div class="row background">
			<h1>Home</h1>
		</div>
		<div class="row">
			<div class="col accent1">
				<h1>Recent Events</h1>
				<ul class="scroll2 hideScroll">
					{{recent_events}}
				</ul>
			</div>
			
			<div class="col">
				<div class="Map">
					<img src="{{url_for('file', partyTag=current_Party)}}" alt="{{current_Party}}" id="MapImage">
				</div>
			</div>
		</div>
	{%endif%}
{%else%}
	<h1 class="background">Welcome! NOT MESSAGE REDIRECT</h1>
{%endif%}
{% endblock %}
