  <!-- Navbar links -->
  <nav class="navbar navbar-expand-sm bg-color navbar-dark">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item list">
	  		<a {% if active_page == "home" %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="/">Home</a>
        </li>
        <li class="nav-item list">
	  		<a {% if active_page == "page1" %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="/page1">Campaign</a>
        </li>
        <li class="nav-item list">
	  		<a {% if active_page == "page2" %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="/page2">Messages</a>
        </li>
		<li class="nav-item list">
	  		<a {% if active_page == "Summary" %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="/Summary">Summary</a>
        </li>
		<li class="nav-item list">
	  		<a {% if active_page == "Account" %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="/Account">Account</a>
        </li>
		<li class="nav-item">
	  		<a {% if active_page == "SummaryInput" %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="/SummaryInput"></a>
        </li>
      </ul>
      <ul class="navbar-nav">
    	{% if logged_in %}
	    	<li class="me-3 navbar-text"><b>User ID:</b> {{ session['user_data']['login']}}</li>
	    	<li class="nav-item list"><a class="nav-link" href="/logout">Logout</a></li>
		{% else %}
	    	<li class="nav-item list"><a class="nav-link" href="/login">Login</a></li>
		{% endif %}
     </ul>
    </div>
  </nav>
