  <!-- Navbar links -->
     <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">SCROLL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav me-auto">
				<li class="nav-item list">
					<a {% if active_page == "home" %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="/">Home</a>
				</li>
				<li class="nav-item list">
					<a {% if active_page == "page1" %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="/page1">Campaign</a>
				</li>
				<li class="nav-item list">
					<a {% if active_page == "page2" %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="/page2">Messages</a>
				</li>
				<li class="nav-item list">
					<a {% if active_page == "Summary" %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="/Summary">Summary</a>
				</li>
				<li class="nav-item list">
					<a {% if active_page == "Account" %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="/Account">Account</a>
				</li>
			</ul>
			<ul class="navbar-nav">
				{% if logged_in %}
					<li class="me-3 navbar-text"><b>User ID:</b> {{ session['user_data']['login']}}</li>
					<li class="nav-item list"><a class="nav-link" href="/logout">Logout</a></li>
				{% else %}
					<li class="nav-item list"><a class="nav-link" href="/login">Login</a></li>
				{% endif %}
			</ul>
        </div>
      </div>
    </nav>
  
  
