  <!-- Navbar links -->
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
	  		<a {% if active_page == "home" %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="/">Home</a>
        </li>
        <li class="nav-item">
	  		<a {% if active_page == "page1" %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="/page1">Page 1</a>
        </li>
        <li class="nav-item">
	  		<a {% if active_page == "page2" %} class="nav-link active"{% else %}class="nav-link"{% endif %} href="/page2">Page 2</a>
        </li>
      </ul>
      <ul class="navbar-nav">
    	{% if logged_in %}
	    	<li><span class="navbar-text">Github userid: {{ session['user_data']['login']}}</span></li>
	    	<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
		{% else %}
	    	<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
		{% endif %}
     </ul>
    </div>
  </nav>
