{% extends "layout.html" %}

{% set active_page = "page1" %}


{% block header %}<script src="{{ url_for('static', filename='script.js') }}"></script>{% endblock %}
{% block title %}page1{% endblock %}

{% block content %}
<h1>Campaign</h1>
{% if current_party != None%}
<div class="row ">
	<div class="col">
		<div class="Map">
			
			<img src="{{url_for('file', partyTag=current_Party)}}" alt="{{current_Party}}">
		
			{% if is_dm == True %}
			<br>
			<br>
				<form action={{ url_for("uploadMap") }} method="POST" enctype="multipart/form-data">
				<br>
					<label for="image" id="drop-area">
					<br>
						<input type="file" accept="image/*" id="image" name="image" hidden>
						<div id="img-view">
							<img src="../static/images/upload.png" alt="UploadImage">
							<p>Click to upload an image of your campaign's map.</p>
						</div>
					</label>
					<br>
					<button type="submit" class="btn btn-primary">Upload</button>
				</form>
			{% endif %}
		</div>
	</div>


 <div class="background">
  <h1>This is Page 1</h1>

  <p>Party Location:</p>
  <p>Party Items </p>

  <pre>
    {{ dump_user_data }}
  </pre>
</div>

{%else%}
	<h1> Welcome!</h1>
{%endif%}

{% endblock %}
