{% extends "layout.html" %}

{% set active_page = "page2" %}

{% block title %}page2{% endblock %}

{% block content %}
{% if current_party != None%}
	  <h1>This is Page 2</h1>

	  <ul id="list">
	 {{ message_display }}
	</ul>


	<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		var socket = io();
		socket.on('connect', function() {
			socket.emit('join', {});
		});
	 socket.on('message', function(data) {
        $('#list').append("<li>" + data + "</li>");
    });
});
</script>

<form action={{ url_for("submitMessage") }} method="POST">
  <input type="text" name="messageBody" id="mes">
  <input type="submit" class="submit" value="Submit">
</form>
{%else%}
	<h1>Please join a party.</h1>
{%endif%}
{% endblock %}
