{% extends "layout.html" %}

{% set active_page = "page1" %}


{% block header %}<script src="{{ url_for('static', filename='script.js') }}"></script>{% endblock %}
{% block title %}page1{% endblock %}

{% block content %}
<h1>Campaign</h1>
<div class="row">
	<div class="col">
		<div class="Map">
			
			<img src="{{url_for('file', partyTag=current_Party)}}" alt="{{current_Party}}">
			
			{% if is_dm == True %}
				<form action={{ url_for("uploadMap") }} method="POST" enctype="multipart/form-data">
					<label for="image" id="drop-area">
						<input type="file" accept="image/*" id="image" name="image" hidden>
						<div id="img-view">
							<img src="../static/images/upload.png" alt="UploadImage">
							<p>Click to upload an image of your campaings map.</p>
						</div>
					</label>
					
					<button type="submit" class="btn btn-primary">Upload</button>
				</form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
