{% extends "layout.html" %}

{% set active_page = "page1" %}


{% block header %}<script src="{{ url_for('static', filename='script.js') }}"></script>{% endblock %}
{% block title %}page1{% endblock %}

{% block content %}
<h1>Campaign</h1>
<div class="row">
	<div class="col">
		<div class="Map">
			{% if map_Image %}
			
				<img src="{{% map_image %}}">
			
			{% else %}
				<form action={{ url_for("uploadMap") }} method="POST" enctype="multipart/form-data">
					<label for="image" id="drop-area">
						<input type="file" accept="image/*" id="image" name="image">
						<div id="img-view">
							<img src="../static/images/upload.png" alt="UploadImage">
							<p>Upload an image of your campaings map.</p>
						</div>
					</label>
					
					<button type="submit" class="btn btn-primary">Upload</button>
				</form>
			{% endif %}
		</div>
	</div>
	<div class="col">
		<div class="background">
			<pre>
				{{ dump_user_data }}
			</pre>
		</div>
	</div>
</div>
{% endblock %}
