{% extends "layout.html" %}

<!-- Botball Tittle -->
{% block title %}Botball{% endblock %}

{% block content %}
  
<!-- class "Header" for LARGE tittle followed by images and text --> 
  <div class = "Header">
    <p>Botball</p>
  </div>
  
<!-- Carousel of Images using BS4 -->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img_2012.jpeg" alt="Small bot robot" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="img_0442.jpeg" alt="Group photo" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="57871004421__B3BD9DF6-75A5-443A-9B14-224329732102.jpeg" alt="3rd Place Trophy" width="1100" height="500">
    </div>
    </div>
    <div class="carousel-item">
      <img src="Botball.jpg" alt="Botball" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- Full text -->
  <p> Botball text </p>


{% endblock %}
