{% extends "layout.html" %}

<!-- Robotics Tittle -->
{% block title %}Robotics-Projects{% endblock %}

{% block content %}

<!-- Project title but not main header followed by short info about projects -->
  <h1>Robotics Projects</h1>
  <p>Maker Space, Botball</p>
  
<!-- class "Header" for LARGE tittle on Mar's Space followed by images and text --> 
  <div class = "Header">
    <p>Maker's Space</p>
  </div>
  
<!-- Maker's Space Carousel of Images using BS4 -->
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="la.jpg" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="chicago.jpg" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="ny.jpg" alt="New York" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- Maker's Space Full text -->
  <p> Maker's Space text </p>


{% endblock %}
