{% extends "layout.html" %}

{% set active_page = "Account" %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="row">
	<div class="col p-3">
	  <h1 class="background">Join a Party.</h1>
	  
	  <ul class="scroll hideScroll"> 
		{{ party_List }}
	  </ul>
  </div>
</div>
<div class="row">
	<div class="col p-3 background">
			<form action={{ url_for("renderPartyConnect") }} method="POST">
			  <label for="Submit">Party Name:</label><br>
			  <input type="text" name="PartyName"><br>
			  <label for="Submit">Password:</label><br>
			  <input type="text" name="Password"><br>
			  <input type="submit" class="submit mt-3" value="Submit">
			</form> 
		{%if message%}
			<h1 class="alert alert-warning mt-5">{{ message }}<h1>
		{%endif%}
	</div>
</div>

{% endblock %}