{% extends "layout.html" %}

{% set active_page = "profile" %}

{% block title %}page1{% endblock %}

{% block content %}
<div class = "row">
    <div class = "col-3 text-light"></div>
    <div class = "col-4"> 
		<h1><img src={{ pfp }} alt = {{ alt }} width="75" height="75" class = "pfp">   {{ user }}</h1>
		<br>
		<h4><b>Wins:</b> {{ wins }}</h4>
		<h4><b>Loses:</b> {{ loses }}</h4>
		<h4><b>Best Time:</b> {{ time }}</h4>
		<h4><b>Achievements:</b> {{ achieve }}</h4>
	</div>
	<div class = "col-2 text-light"></div>
    <div class = "col-3 text-light"></div>
</div>
{% endblock %}
