{% extends "layout.html" %}

{% set active_page = "Summary" %}

{% block title %}Summary{% endblock %}

{% block content %}
<div class="row">
	<div class="p-3 background">
		<form action={{ url_for("submitSummeryInput") }} method="POST">
			<label for="Submit" class="small-text">Heading:</label><br>
			<input type="text" name="headInput"><br>
			<label for="Submit" class="small-text">Body:</label><br>
			<input type="text" name="bodyInput"><br>
			<button type="submit" class="btn btn-primary">Submit Post</button>
		</form> 
	</div>
</div>
{% endblock %}