{% extends "layout.html" %}

{% set active_page = "Summary" %}

{% block title %}Summary{% endblock %}

{% block content %}
{% if current_party != None%}
	<h1>This is the Summary page</h1>

	<ul class="scroll">
		<div>
		{{ sum_Input }}
		</div>
	</ul>
	{% if is_DM == True %}
		<form action={{ url_for("renderSummaryInputPage") }}  method="POST" class="ms-4 input">
			<input type="submit" class="submit" value="Submit">
		</form>
	{%endif%}
{%else%}
<h1>Please join a party.</h1>
{%endif%}
{% endblock %}